<!--<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Vehicle <span class="caret"></span></a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Equipment<span class="caret"></span></a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Invoice<span class="caret"></span></a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Maintanence<span class="caret"></span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Help</a></li>
    </ul>
  </div>
</nav>-->

<div id="header">
  <div class="">
    <ul id="horizontal-list">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Vehicle <span
        class="caret"></span></a></li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Equipment<span
        class="caret"></span></a></li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Invoice<span class="caret"></span></a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Maintanence<span
        class="caret"></span></a></li>&nbsp;&nbsp;&nbsp;
      <li style="float: right;"><a href="#">Help</a></li>
    </ul>
  </div>
</div>

<div>
  <table>
    <tr class="tableheader">
      <td style="padding-left: 10px;">Vehicle Bid</td>
    </tr>
    <tr>
      <td>
        <div class="row2">Search Filters:&nbsp;&nbsp;Request#:&nbsp;<input type="text">&nbsp;&nbsp;Vendor
          Name:&nbsp;<input type="text" placeholder="select">
          &nbsp;&nbsp;<button class="btn btn-primary">Search</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="box">
          <div class="row">
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-6" id="subcol1">
                  Agency:<br>
                  POC Name:<br>
                  Telephone:<br>
                  Email:<br>
                </div>
                <div class="col-lg-6">
                  Navy <br>
                  Firstname Lastname<br>
                  (703) 555-1212<br>
                  firstnamelastname@gsa.gov
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-6" id="subcol3">
                  Address1:<br>
                  Address2:<br>
                  City,State Zip:<br>
                  Note:<br>
                </div>
                <div class="col-lg-6">
                  2100 Crystal Drive<br>
                  <br>
                  Arlington, VA 22202<br>
                  For Business Only
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-6" id="subcol5">
                  Respond By:<br>
                  RFQ Sent:<br>
                  Select Criteria:<br>
                  Total Quatity:<br>
                </div>
                <div class="col-lg-6">
                  MM/DD/YYYY HH:MM<br>
                  MM/DD/YYYY HH:MM<br>
                  Low Bid<br>
                  2
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row3">
          <table class="table1" style="border-color: #dddddd;">
            <tr class="table1row1" style="background: rgba(208,228,250,0.97);">
              <th>Select Group</th>
              <th>Serials</th>
              <th>ACRISS Code</th>
              <th>Vehicle Type</th>
              <th>Vehicle Size</th>
              <th>Oty. by Type</th>
              <th>One Way Rental</th>
              <th>Pick Up Time/Date</th>
              <th>Estimated Return Time/Date</th>
              <th># of Days</th>
              <th>Pick Up City</th>
              <th>Pick Up State</th>
              <th>Pick Up Zip</th>
              <th>Pick Up or Delivery</th>
              <th>Special Requirement</th>
              <th style="width: -1px;">Group Total</th>
            </tr>
            <tr class="table1row2" style="background: #dddddd;">
              <td><input type="radio"></td>
              <td>001</td>
              <td>46SB</td>
              <td>Bus</td>
              <td>46 Passenger or Less- School</td>
              <td>1</td>
              <td></td>
              <td>MM:DD:YYYY HH:MM</td>
              <td>MM:DD:YYYY HH:MM</td>
              <td>5</td>
              <td>Arlington</td>
              <td>VA</td>
              <td>22202</td>
              <td>P</td>
              <td>None</td>
              <td><input type="text"></td>
            </tr>
            <tr class="table1row3">
              <td><input type="radio"></td>
              <td>001</td>
              <td>46SB</td>
              <td>Bus</td>
              <td>46 Passenger or Less- School</td>
              <td>1</td>
              <td></td>
              <td>MM:DD:YYYY HH:MM</td>
              <td>MM:DD:YYYY HH:MM</td>
              <td>5</td>
              <td>Arlington</td>
              <td>VA</td>
              <td>22202</td>
              <td>P</td>
              <td>None</td>
              <td><input type="text"></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add Request Details Here
      <div class="row4">
        <div class="col-lg-4" >
          <div class="panel panel-default" id="row4id1">
            <div class="panel-heading">Billed Rates</div>
            <div class="panel-body"></div>
          </div>
        </div>
        <div class="col-lg-4" >
          <div class="panel panel-default" id="row4id2">
            <div class="panel-heading">Ceiling Rates</div>
            <div class="panel-body">Panel content</div>
          </div>
        </div>
        <div class="col-lg-4" >
          <div class="panel panel-default" id="row4id3">
            <div class="panel-heading">Rental Location for Group</div>
            <div class="panel-body">Panel content</div>
          </div>
        </div>
      </div>
    </tr>
    <tr>
      <div class="row" style="text-align: center;">
        Remark to the Requester(One per request):&nbsp;&nbsp;<input type="text">&nbsp;&nbsp;
        Total Bid Amount:&nbsp;&nbsp;<input type="text" placeholder="0.00">
      </div>
    </tr>
    <br><br>
    <tr>
      <div class="row" style="text-align: center;">
        <button class="btn btn-primary">Submit Bid</button>&nbsp;&nbsp;
        <button class="btn btn-primary">No Bid</button>&nbsp;&nbsp;
        <button class="btn btn-primary">Clear Screen</button>
      </div>
    </tr>
    <tr> this is sri</tr>
  </table>
</div>
