
ul#horizontal-list {
  min-width: 696px;
  max-width: 1700px;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px;
  height: 30px;
  border-radius: 5px;
  padding-right: 40px;
  background: rgba(100,150,250,0.97);
  font-family: Calibri;
  font-size: 14px;

}
ul#horizontal-list li {
  display: inline;
  color: white;
  font-family: Calibri;
  font-size: 14px;
}

ul#horizontal-list li a{
  color: white;
  font-family: Calibri;
  font-size: 14px;
}

/*table {
  display: table;  !*Allow the centering to work *!
  margin: 0 auto;
}*/

table{
  border: 1px solid #dddddd;
  border-radius: 5px;
  border-bottom: 1px solid black;
  border-collapse:collapse;
  width:99%;
  display: table;  /*Allow the centering to work */
  margin: 0 auto;
  font-family: Calibri;
  font-size: 14px;

}
.tableheader{
  background-color: #dddddd;
  font-weight: bold;
  border: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  font-family: Calibri;
  font-size: 14px;

}
.divheader{
  background-color: #dddddd;
  font-weight: bold;
  border: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  font-family: Calibri;
  font-size: 14px;
}
input{
  border-radius: 2px;
  font-family: Calibri;
  font-size: 14px;
}
.row2 {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: Calibri;
  font-size: 14px;
}
.jumbotron{
  padding-left: 100px;
  max-width: 1200px;
  max-height: 100px;
  font-family: Calibri;
  font-size: 14px;
}
.box {
  width: 1450px;
  height: 100px;
  margin: 1em;
  background: #dddddd;
  font-family: Calibri;
  font-size: 14px;
}
.col-lg-4{
  padding-right: 100px;
  padding-top: 10px;
  font-family: Calibri;
  font-size: 14px;
}

#subcol1, #subcol3, #subcol5{
  text-align: right;
  font-weight: bold;
  font-family: Calibri;
  font-size: 14px;
}
.row3{
  margin: 8px;
  margin-top: -10px;
  font-family: Calibri;
  font-size: 14px;
}


#row4id1{
  width: 474px;
  height: 340px;
  border: solid 1px #dddddd;
  margin: 5px;
  border-radius: 1px;
  font-family: Calibri;
  font-size: 14px;


}
#row4id3{
  width: 460px;
  height: 300px;
  border: solid 1px #dddddd;
  margin: 5px;
  border-radius: 1px;
  font-family: Calibri;
  font-size: 14px;
}
#row4id2{
  width: 474px;
  height: 300px;
  border: solid 1px #dddddd;
  margin: 5px;
  border-radius: 1px;
  font-family: Calibri;
  font-size: 14px;

}
.panel-heading{
  max-height: 25px;
  padding-top: 2px;
  font-family: Calibri;
  font-size: 14px;
}

input[type=text] {
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
}

