<div style="padding: 20px;">
	<h2 style="color: blue">JSA - Angular Application!</h2>
	<nav>
		<!--<a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
		<a routerLink="add"	class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
		<a routerLink="findbylastname"	class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
    <a routerLink="userLogin" class="btn btn-primary active" role="button" routerLinkActive="active">User Login</a>
    <a routerLink="userRegistration" class="btn btn-primary active" role="button" routerLinkActive="active">User Registration</a>
    <a routerLink="schedule" class="btn btn-primary active" role="button" routerLinkActive="active">Generate Batch</a>-->
    <a routerLink="task" class="btn btn-primary active" role="button" routerLinkActive="active">Task</a>
	</nav>

	<router-outlet></router-outlet>

</div>


